<form>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pet</h4>
      <div class="form-row">
        <div class="col-4 mb-3">
          <label for="name">Pet</label>
          <input class="form-control"
            id="name"
            placeholder="Pet"
            name="petName"
            ngModel
            #petName="ngModel"
            [ngClass]="{'is-invalid':petName.invalid && petName.touched}"
            required>
          <div class="invalid-feedback">
            Pet name is required!
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
