<form>

      <div class="form-group">
          <label for="name">Nome</label>
          <input id="name" type="text" class="form-control" placeholder="Insira o nome do seu animalzinho">
        </div>
        <div class="form-group">
            <label for="breed">Raça</label>
            <input id="breed" type="text" class="form-control" placeholder="Insira a raça do seu animalzinho">
          </div>
          <div class="form-group">
              <label for="weight">Peso</label>
              <input id="weight" type="number" class="form-control" placeholder="Insira o peso do seu animalzinho">
            </div>
        <button class="btn btn-primary">Submit</button>

</form>

