<form (ngSubmit) = "onSubmit(f)" #f="ngForm" novalidate>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Client</h5>
        <div class="form-row">
            <div class="col-4 mb-3" ngModelGroup="petData">
                <label for="name">Name</label>
                <input class="form-control"
                  id="name"
                  placeholder="Cliente"
                  name="name"
                  ngModel
                  required
                  [ngClass]="{'is-invalid':!name.valid && name.touched}"
                  #name="ngModel">
                <div class="invalid-feedback">
                  Please enter a valid client name.
                </div>
            </div>
        </div>
          <div class="form-row">
            <div class="col mb-3">
                <ul *ngFor="let client of clients">
                  <li>{{client.name}}</li>
                </ul>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3">
              <button class="btn btn-secondary" (click)="onActivate()">Activate</button>
              <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
            </div>
          </div>
          <app-client-detail></app-client-detail>
      </div>
    </div>
  </form>
