  <div id="top" class="row">
      <h1 class="logo">
        <span class="bg-orange"><i class="fa fa-cog fa-spin"></i> Pet</span>Shop
       </h1>
  </div>

  <app-navbar></app-navbar>

  <div class="container" style="padding: 1.1rem 1.1rem;">
    <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <footer id="main-footer">
        <p>Copyright &#169; 2019, PetShop, All Rights Reserved</p>
      </footer>
    </div>
  </div>
