<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Product</h5>
      <div formGroupName="productData">
        <div class="form-row">
          <div class="col-4 mb-3">
            <label for="name">Product Name</label>
            <input type="text"
              id="name"
              placeholder="Product Name"
              class="form-control"
              name="name"
              formControlName="name"
              [ngClass]="{'is-invalid': name.invalid && name.touched}">
            <div class="invalid-feedback">
              <span *ngIf="name.errors?.nameIsForbiden">Please enter a valid product name!</span>
              <span *ngIf="name.errors?.required">The product name is required!</span>
            </div>
          </div>
          <div class="col-4 mb-3">
            <label for="brand">Brand of the product</label>
            <input type="text"
              id="brand"
              class="form-control"
              placeholder="Brand of the product"
              name="brand"
              formControlName="brand"
              [ngClass]="{'is-invalid': form.get('productData.brand').invalid && form.get('productData.brand').touched}">
            <div class="invalid-feedback">
              Please enter a valid brand!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-4 mb-3">
            <label for="weight">Weight</label>
            <input type="number"
              class="form-control"
              id="weight" aria-describedby="weightlHelp"
              name="weight"
              placeholder="Enter the weight"
              formControlName="weight"
              [ngClass]="{'is-invalid': form.get('productData.weight').invalid && form.get('productData.weight').touched}">
            <small id="weightlHelp" class="form-text text-muted">Enter the weight of your pet</small>
            <div class="invalid-feedback">
              Please, enter a valid weight for your pet!
            </div>
          </div>
        </div>

        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
