@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  background: grey;
  color: #444;
}

#top {
  background: url('/assets/images/landscape.jpg') no-repeat center 66%/cover;
  height: 130px;
  overflow: hidden;
}

#menu {
  display: inline-block;
  width: 20%;
  height: 800px;
}

#content {
  background: #fff;
  padding: 1.5rem;
  float: right;
  width: 80%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: #fff;
  margin: 1.5rem;
}

.bg-orange {
  color: orange;
}

#main-footer {
  color: #fff;
  text-align: center;
}
