@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  background: grey;
  color: #444;
}

#top {
  background: url('/assets/images/landscape.jpg') no-repeat center 66%/cover;
  height: 130px;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: #fff;
  margin: 1.5rem;
}

.bg-orange {
  color: orange;
}

#main-footer {
  color: #444;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
