@import "~bootstrap/dist/css/bootstrap.min.css";

#top {
  background: url('/assets/images/landscape.jpg') no-repeat center center/cover;
  height: 260px;
  overflow: hidden;
}

#menu {
  display: inline-block;
}

#content {
  padding: 0;
  margin: 0;
  float: right;
  align-content: center;
}
